{% extends 'base.html' %} {% block content %}
<h2>Sign up</h2>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p style="color: #225">
      <h3>{{ field.label_tag }}</h3>
      {{ field }}
      {% if field.help_text %}
        <p style="color: red">{{ field.help_text }}</p>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Sign up</button>
</form>
{% endblock %}
