{% load static %}
<html>
  <head>
    <title>Base Forum</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Base Camp Forum</a></h1>
        </div>
        {% if user.is_authenticated %}
        <p>Current User: {{ user.username }}</p>
        <div class="nav-right">
          <a href="{% url 'post_new' %}">+ New Post</a>
          <a href="{% url 'logout' %}">Log Out</a>
        </div>
        {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">or Sign Up</a>
        {% endif %}
      </header>
      {% block content %} {% endblock content %}
      <p>Version 0.1</p>
    </div>
  </body>
</html>
