<!DOCTYPE html>
{% load static %}
<html lang="en">
  <style>
    body {
      background-image: url("https://i.pinimg.com/originals/09/7e/0c/097e0c433638da0406899722cdaff9d0.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
  <head>
    <title>Base Forum</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <div>
      <header class="post-entry">
        <div>
          <h1>
            <a href="{% url 'home' %}?sortby=new">Base Camp Forum</a>
          </h1>
        </div>
        {% if user.is_authenticated %}
        <div class="post-entry">
          <p>
            Current User:
            <a href="{% url 'user_profile' user.username %}"
              >{{ user.username }}</a
            >
          </p>
        </div>

        <div class="post-entry">
          <a href="{% url 'post_new' %}">New Post</a>
          <br />
          <a href="{% url 'logout' %}">Log Out</a>
          <br />
          <a href="{% url 'following' %}">Feed</a>
          <br />
          <a href="{% url 'search' %}?q=">Search</a>
          <br />
          <a href="{% url 'password_change' %}?">Password Change</a>
          <br />
          <a href="{% url 'password_reset' %}?">Password Reset</a>
        </div>
        {% else %}
        <div class="post-entry">
          <p>You are not logged in.</p>
          <a href="{% url 'login' %}">Log In</a>
          <br />
          <a href="{% url 'signup' %}">or Sign Up</a>
        </div>

        {% endif %}
      </header>
      {% block content %} {% endblock content %}
      <div class="post-entry"><p>v0.8-d36</p></div>
    </div>
  </body>
</html>
