{% extends 'base.html' %} {% block content %}
<h1>Edit Bio</h1>
<form action="" method="post">
  {% csrf_token %}
  <br />
  {% if user.is_authenticated %}
  <br />
  <h3>
    Note: This site does not currently support uploading local files. You must
    provide the URL to your image.
  </h3>
  <p>{{ form.profile_picture_link }} {{ form.profile_picture_link.errors }}</p>
  <h3>Your Biography</h3>
  <p>{{ form.bio }} {{ form.bio.errors }}</p>

  <input class="buttonclass" type="submit" value="Update" />
  {% else %}
  <p>You are not logged in</p>
  {% endif %}
</form>
{% endblock content %}
