{% extends 'base.html' %} {% block content %}
<div class="post-entry">
  <a href="{% url 'home' %}?sortby=top">Sort By Top Posts</a>
  <br />
  <a href="{% url 'home' %}?sortby=new">Sort By New Posts</a>
</div>

{% for post in object_list %}
<div class="post-entry">
  <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
  <h3>
    by
    <img
      src="{{ post.author.profile_picture_link }}"
      alt="No Profile Picture"
    />
    <a href="{% url 'user_profile' post.author.username %}"
      >{{ post.author.username }}</a
    >
  </h3>
  {% if post.author.username == "KaijZenal" %}
  <h3>(Owner)</h3>
  {% endif %}
  <p>Votes: {{ post.votes.count }}</p>
</div>
{% endfor %} {% endblock content %}
