{% extends 'base.html' %} {% block content %}
<div class="post-entry">
  <h2>{{ post.title }}</h2>
  <h3>{{ post.author.username }}</h3>
  {% if post.author.username == "KaijZenal" %}
  <h3>(Owner)</h3>
  {% endif %}
  <p>{{ post.body }}</p>
  <p>Votes: {{ post.votes.count }}</p>

  <form action="{% url 'post_vote' post.pk %}" method="post">
    {% if not user_has_voted %} {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Vote" />
    {% else %}
    <p>You are not logged in, or you have already voted</p>
    {% endif %}
  </form>
</div>
<a href="{% url 'post_edit' post.pk %}">+ Edit Post</a>
<a href="{% url 'post_delete' post.pk %}">+ Delete Post</a>
{% for comment in post.comments.all %}
<div class="post-entry">
  <h3>{{ comment.author }}</h3>
  {% if comment.author.username == "KaijZenal" %}
  <h3>(Owner)</h3>
  {% endif %}
  <p>{{ comment }}</p>
</div>

{% endfor %}
<a href="{{ request.path }}comment">+ New Comment</a>{% endblock content %}
