{% extends 'base.html' %} {% block content %}
<div class="post-entry">
  <p>Include !tag! or !title! to search by those parameters only</p>
  <form action="" method="get">
    <input class="inputfield" name="q" type="text" placeholder="Search..." />
  </form>
</div>

{% for post in object_list %}
<div class="post-entry">
  <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
  <h3>
    by
    <img
      src="{{ post.author.profile_picture_link }}"
      alt="No Profile Picture"
    />
    <a href="{% url 'user_profile' post.author.username %}"
      >{{ post.author.username }}</a
    >
  </h3>
  {% if post.author.username == "KaijZenal" %}
  <h3>(Owner)</h3>
  {% endif %}
  <p>{{ post }}</p>
  <p>Votes: {{ post.votes.count }}</p>
</div>
{% endfor %} {% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="/?sortby={{ cursort }}&page={{ page_obj.previous_page_number }}"
      >Previous</a
    >
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="/?sortby={{ cursort }}&page={{ page_obj.next_page_number }}"
      >Next</a
    >
    {% endif %}
  </span>
</div>
{% endif %} {% endblock content %}
